.header {
  width: 100%;
  margin-bottom: 50px;
  justify-content: space-between;
}

.todo {
  font-size: 20px;
  display: flex;
  flex-direction: column;

  label {
    border-radius: 2mm;
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    align-self: center;
  }
}

.Todo {
  margin-bottom: 30px;
}

.new-todo {
  display: relative;
  button {
    display: absolute;
    right: 10px;
  }
}

// button {
//   border-radius: 1mm;
//   background: white;
//   background: linear-gradient(to right, #c4e0e5, #4ca1af);
// }
