@import '../App.scss';

.Calendar {
  // box-shadow: var(--box-shadow);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;

  .year {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .month {
    margin-bottom: 20px;
  }

  .day {
    margin: 20px 0;
    width: 14%;
    .today {
      width: 50%;
      background: red;
    }
  }
}
