@import '../App.scss';

.Category {
  @extend %y-centered;

  &:disabled {
    .icon {
      border: 5px solid gray;
    }
  }

  .icon {
    width: 45px;
    height: 45px;
    @extend %xy-centered;
    border: 5px solid #f5f5f5;
    border-radius: 100%;
  }

  .info {
    display: none;
  }
}

@media only screen and (min-width: 480px) {
  .Category {
    .icon {
      width: 60px;
      height: 60px;
    }
  }
}

@media only screen and (min-width: 600px) {
  .Category {
    width: 22%;
    height: 10vh;
    box-shadow: var(--box-shadow);
    border-radius: 5mm;

    &:disabled {
      box-shadow: none;
      background: gainsboro;

      .icon {
        border: 5px solid #f5f5f5;
      }
    }

    .icon {
      margin: 0 5px;
      width: 40px;
      height: 40px;
    }

    .info {
      display: block;
    }
  }
}

@media only screen and (min-width: 768px) {
  .Category {
    .icon {
      margin: 0 5px;
      width: 50px;
      height: 50px;
    }
  }
}

@media only screen and (min-width: 992px) {
  .Category {
    .icon {
      margin: 0 20px;
      width: 60px;
      height: 60px;
    }
  }
}
