.dropdown {
  position: relative;
  display: inline-block;

  .dropbtn {
    background-color: var(--background-secondary);
    padding: 0 8px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-secondary);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 100%;
  }

  .dropdown-content button {
    padding: 8px;
    text-decoration: none;
    display: block;
    min-width: 100%;
    text-align: start;
    border-radius: 0;
  }

  .dropdown-content {
    button:hover {
      background-color: var(--color-secondary);
    }
  }

  &:hover {
    .dropdown-content {
      display: block;
    }
  }

  &:hover {
    .dropbtn {
      background-color: var(--color-secondary);
    }
  }
}
