@import '../App.scss';

.FilterCard {
  @extend %y-centered;

  &:disabled {
    .icon {
      border: 5px solid var(--color-light);
    }
  }

  .icon {
    width: 45px;
    height: 45px;
    @extend %xy-centered;
    border: 5px solid var(--background-secondary);
    border-radius: 100%;
    background: var(--background-primary);
  }

  .info {
    display: none;
  }
}

@media only screen and (min-width: 480px) {
  .FilterCard {
    &:hover {
      background: none;
      .icon {
        border: 5px solid var(--color-light);
      }
    }

    .icon {
      width: 60px;
      height: 60px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .FilterCard {
    width: 22%;
    height: 10vh;
    box-shadow: var(--box-shadow);
    border-radius: 5mm;
    border: var(--border);

    &:hover {
      background: var(--background-secondary);
    }

    &:disabled {
      box-shadow: none;
      background: var(--background-secondary);

      .icon {
        border: 5px solid var(--background-secondary);
      }
    }

    .icon {
      margin: 0 10px;
      width: 50px;
      height: 50px;
    }

    .info {
      display: block;
    }
  }
}

@media only screen and (min-width: 992px) {
  .FilterCard {
    .icon {
      margin: 0 20px;
      width: 60px;
      height: 60px;
    }
  }
}
