@import '../App.scss';

.MainSchedule {
  padding: 25px 0;

  .year {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .month {
    margin-bottom: 20px;
  }

  .chosen-day,
  .chosen-month {
    color: red;
    font-weight: bold;
    font-size: 150%;
  }

  .day {
    height: 90px;
    width: 14%;
    border-right: 0.5px solid gainsboro;
    border-bottom: 0.5px solid gainsboro;

    label {
      @extend %xy-centered;
      width: 100%;
      height: 100%;
    }
  }

  .new-todo-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
  }

  .TodoInfo {
    position: fixed;
    background: white;
    top: 20%;
    box-shadow: none;
  }

  div[role='alert'] {
    position: fixed;
    top: 10%;
  }
}

@media only screen and (min-width: 480px) {
  .MainSchedule {
    padding: 40px 0;
  }
}
