.MainCategory {
  display: flex;

  .category-list {
    margin-right: 10%;
    width: 30%;
    display: block;
    .Category {
      width: 100%;
    }
  }

  .MainTodo {
    width: 70%;
    .Category {
      display: none;
    }
  }
}
