@import '../App.scss';

.MainSchedule {
  padding: 25px 0;

  .year {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .month {
    margin-bottom: 20px;
  }

  .chosen-day,
  .chosen-month {
    color: red;
    font-weight: bold;
    font-size: 150%;
  }

  .day {
    height: 90px;
    width: 14%;
    border-right: 0.5px solid gainsboro;
    border-bottom: 0.5px solid gainsboro;

    label {
      @extend %xy-centered;
      width: 100%;
      height: 100%;
    }
  }

  .TodoList {
    width: 100%;
    margin-top: 10%;
  }
}

@media only screen and (min-width: 480px) {
  .MainSchedule {
    padding: 40px 0;
  }
}
