@import '../App.scss';

.MainSchedule {
  padding: 25px 0;

  .year {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .month {
    margin-bottom: 20px;
  }

  .chosen-month {
    color: red;
  }

  .day {
    padding: 35px 0;
    width: 14%;
    height: 100%;
    border-right: 0.5px solid gainsboro;
    border-bottom: 0.5px solid gainsboro;

    .chosen-day {
      color: red;
    }
  }
}

@media only screen and (min-width: 480px) {
  .MainSchedule {
    padding: 40px 0;
  }
}
