@import '../App.scss';

.MainTodo {
  padding: 25px 0;

  .header {
    margin-bottom: 30px;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 480px) {
  .MainTodo {
    padding: 40px 0;
  }
}

@media only screen and (min-width: 600px) {
  .MainTodo {
    .header {
      justify-content: space-between;
    }
  }
}
