.MainCategory {
  padding: 25px 0;

  .new-category {
    display: flex;
    input {
      border: 1px solid gainsboro;
      border-radius: 1mm;
      height: 40px;
      width: 100%;
      padding: 0 20px;
    }
  }

  .dropdown {
    margin-bottom: 30px;

    .Category {
      .info {
        display: block;
      }

      .icon {
        display: none;
      }
    }
  }

  .category-list {
    display: none;
  }

  .TodoList {
    width: 100%;
  }
}

@media only screen and (min-width: 480px) {
  .MainCategory {
    padding: 40px 0;
  }
}

@media only screen and (min-width: 768px) {
  .MainCategory {
    .NewTodoForm {
      .dropdown {
        display: block;
      }
    }

    .dropdown {
      display: none;
    }

    .category-list {
      margin-right: 5%;
      width: 30%;
      display: block;

      .Category {
        width: 100%;
        margin-bottom: 30px;

        .info {
          display: block;
        }

        .icon {
          margin-right: 10px;
          width: 40px;
          height: 40px;
        }
      }
    }

    .TodoList {
      width: 65%;

      .dropdown {
        display: block;
      }
    }
  }
}
