.MainCategory {
  display: flex;
  padding: 80px 0;

  .category-list {
    margin-right: 5%;
    width: 30%;
    display: block;

    .Category {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .TodoList {
    width: 65%;
  }
}
