@import '../App.scss';

.TodoInfo {
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  box-shadow: var(--box-shadow);
  border-radius: 2mm;
  display: flex;
  flex-direction: column;

  .buttons {
    align-self: flex-end;
  }

  input {
    margin: 0 10px;
  }

  textarea {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
  }
}

@media only screen and (min-width: 480px) {
  .TodoInfo {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .TodoInfo {
    width: 60%;
  }
}
