@import '../App.scss';

.TodoInfo {
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: 2mm;
  display: flex;
  flex-direction: column;
  width: 90%;
  background: var(--background-primary);

  .buttons {
    align-self: flex-end;
  }

  input {
    margin: 0 10px;
  }

  textarea {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .dropdown {
    .newCategoryName {
      @extend %y-centered;
    }
  }

  .deadline {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .TodoInfo {
    .deadline {
      display: table-row;

      .date-picker {
        border: 1px solid var(--background-secondary);
        border-radius: 1mm;
        margin: 0;
        padding: 0 10px;
        min-width: 250px;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .TodoInfo {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .TodoInfo {
    width: 60%;
  }
}
