.Category {
  width: 300px;
  height: 450px;
  border: 1px solid #979797;
  border-radius: 5mm;
  margin-top: 10vh;
  // background-color: purple;
  background-size: 300px 90px;
  
}

// .name {
//   width: 298px;
//   height: 90px;
//   border-bottom: 1px solid #979797;
//   border-top-left-radius: 5mm;
//   border-top-right-radius: 5mm;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-size: 20px;
//   background: purple;
// }
