.Todo {
  padding-right: 20px;
}

.todo-template {
  display: flex;
  align-items: center;
  width: 100%;
}

.inputField {           
  border: none;
  background: inherit;
  // color: white;
  height: 20px;
}

#checkbox {
  position: relative;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

#checkbox-button {
  width: 25px;
  height: 25px;
  border: 0.5px solid gainsboro;
  // border-radius: 100%;
  background: white;
}

#checkbox-checkmark {
  position: absolute;
  left: 10px;
  top: -6px;
  width: 12px;
  height: 24px;
  border: solid purple;
  border-width: 0 3.5px 3.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}