%xy-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

%y-centered {
  display: flex;
  align-items: center;
}

.App {
  background: var(--background-primary) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto 100%;
  background-position: left top;
  min-height: 100vh;
  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
p,
button,
textarea {
  margin: 0;
  padding: 0;
}

a,
input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  color: var(--color-primary);
  outline: none;
  resize: none;
  border: none;
  background: inherit;
  padding: 0;
}

.a-active {
  color: palevioletred;
}

a:hover {
  color: palevioletred;
}

button {
  color: var(--color-primary);
  background: transparent;
  &:focus {
    outline: 0;
  }
  border: none;
  border-radius: 1mm;
}

.button-danger {
  background: var(--color-danger);
  padding: 8px;
  color: white;
}

.button-light {
  background: var(--background-secondary);
  padding: 8px;

  &:hover {
    background: var(--color-secondary);
  }
}

#button-mode {
  background: var(--color-mode);
  color: var(--background-primary);
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 0 5px;
}

.Nav {
  border-bottom: 0.5px solid var(--background-secondary);
}

.vertical-line {
  border-left: 1px solid var(--background-secondary);
  width: 1%;
}

.horizontal-line {
  margin-top: 10px;
  border-top: 1px solid var(--color-light);
  height: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: var(--background-secondary);
}

.dropdown {
  position: relative;
  display: inline-block;

  .dropbtn {
    background-color: var(--background-secondary);
    padding: 0 8px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-secondary);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 100%;
  }

  .dropdown-content button {
    padding: 8px;
    text-decoration: none;
    display: block;
    min-width: 100%;
    text-align: start;
    border-radius: 0;
  }

  .dropdown-content {
    button:hover {
      background-color: var(--color-secondary);
    }
  }

  &:hover {
    .dropdown-content {
      display: block;
    }
  }

  &:hover {
    .dropbtn {
      background-color: var(--color-secondary);
    }
  }
}
