:root {
  --background-primary: white;
  --background-secondary: white;
  --text-primary: white;
  --box-shadow: white ;

}

.App {
  background: var(--background-primary) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  color: var(--text-primary);

  a,
  input {
    color: var(--text-primary);
    outline: none;
  }

  button {
    color: var(--text-primary);
    background: transparent;
    &:focus {
      outline: 0;
    }
    border: 0 solid;
  }

  #button-mode,
  hr {
    background: var(--text-primary);
    color: var(--background-primary);
  }

  #button-mode {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

  .Nav {
    border-bottom: 0.5px solid gainsboro;
  }

  .verticalLine {
    border-left: 1px solid gainsboro;
    width: 5%;
  }
}
