:root {
  --background-primary: white;
  --background-secondary: white;
  --text-primary: white;
  --box-shadow: white;
  --text-secondary: white;
}

%button-default {
  color: var(--text-primary);
  background: transparent;
  &:focus {
    outline: 0;
  }
  border: none;
  border-radius: 1mm;
}

%xy-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

%y-centered {
  display: flex;
  align-items: center;
}

.App {
  background: var(--background-primary) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto 100%;
  background-position: left top;
  min-height: 100vh;
  color: var(--text-primary);
}

a,
input,
textarea {
  color: var(--text-primary);
  outline: none;
  resize: none;
  border: none;
  background: inherit;
  width: auto;
}

button {
  @extend %button-default;
}

#button-mode {
  background: var(--text-primary);
  color: var(--background-primary);
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.Nav {
  border-bottom: 0.5px solid gainsboro;
}

.vertical-line {
  border-left: 1px solid gainsboro;
  width: 1%;
}

.horizontal-line {
  border-top: 1px solid gainsboro;
  height: 1%;
}

.text-secondary {
  color: var(--text-secondary);
}

.dropdown {
  position: relative;
  display: inline-block;

  .dropbtn {
    background-color: gainsboro;
    border: none;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content button {
    padding: 8px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: start;
  }

  .dropdown-content button:hover {
    background-color: #f1f1f1;
  }

  &:hover .dropdown-content {
    display: block;
  }

  &:hover .dropbtn {
    background-color: gray;
  }
}
