.header {
  width: 100%;
  margin-bottom: 5mm;
}

.nav, .main {
  border-radius: 1mm;
}

.nav {
  width: 25%;
  align-items: flex-start;
  margin-right: 5%;
}

.main {
  width: 70%;
  align-items: flex-start;
}